<!DOCTYPE html>
<html ng-app="prototype">

<head>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="angular.js@*" data-semver="1.2.5" src="http://code.angularjs.org/1.2.5/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="ptSelect.css" />
  <script src="angular.directive.ptBlock.js"></script>
  <script src="angular.directive.ptSelect.js"></script>
  <script src="angular.module.prototype.js"></script>
</head>

<body ng-controller="foo">



  <!-- setting pt-fixed-view allows you to define a height-adaptive area, 
        otherwise prototype will assume the height is unlimited.
        
        #these dimensions define a portrait area
        
        pt-block="view" here defines *this* element is as the pt-block-->
  <div class="pt-fixed-view" pt-block="view" style="height:300px;max-width:300px;">
    <select ng-model="colorScope.color" ng-options='c.name for c in colorScope.colors' pt-select></select>
  </div>



  <!-- setting pt-fixed-view allows you to define a height-adaptive area, 
        otherwise prototype will assume the height is unlimited.
        
        # these dimensions define a fixed height area-->
  <div class="pt-fixed-view" pt-block="view" style="background:#dadada">
    <select ng-model="colorScope.color" ng-options='c.name for c in colorScope.colors' pt-select></select>
  </div>




  <!-- 
        # this simply is a basic select-->
  <select ng-model="colorScope.color" ng-options='c.name for c in colorScope.colors' pt-select></select>





  <!-- @todo make this automatically add itself to dom-->
  <div id="em" style="width:1em;position:absolute;top:-100px"></div>
</body>

</html>
