
body {
  padding:5px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/* this .pt-block definition is just to show the element's 
bounds, .pt-block should always be an invisible element. */
.pt-fixed-view {
  border:1px dashed red;
  padding:5px;
  margin-bottom:30px;
}
select.pt-select {
  position: absolute;
  left: -10000px;
}
.pt-block > div.pt-select {
  border: 1px solid #d8d8d8;
  padding: 0px 14px;
  height: 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color:#fff;
}
.pt-block > div.pt-select.active {
  overflow: visible;
  border-color: #9fadb4;
}
.pt-block > div.pt-select.active ul li {
  display: block;
}
.pt-block > div.pt-select.active ul li.selected {
  font-weight: bold;
}
.pt-block > div.pt-select:after {
  content: '';
  display: block;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -3px;
  z-index: 901;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #9f9f9f;
}
.pt-block > div.pt-select.active:after {
  border-top-width: 0px;
  border-bottom: 6px solid #9f9f9f;
}
.pt-block > div.pt-select ul,
.pt-block > div.pt-select li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: block;
}
.pt-block > div.pt-select ul {
  position: absolute;
  top: 6px;
  left: 0px;
  right: 0px;
}
.pt-block > div.pt-select.active ul {
  left: -1px;
  right: -1px;
  background-color: #fff;
  z-index: 900;
  border: 1px solid #9fadb4;
  border-top-width: 0px;
  padding-bottom: 10px;
}
.pt-block > div.pt-select ul li {
  white-space: nowrap;
  padding: 0px 14px;
  line-height: 27px;
  font-size: 14px;
  color: #898989;
  font-weight: normal;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pt-block > div.pt-select ul li:hover {
  color: #000;
}
.pt-block > div.pt-select ul li.selected {
  display: block;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select {
  border-width: 0px;
  height: auto;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select ul {
  position: static;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select ul li {
  display: block;
  padding: 10px 0px;
  border-bottom: 1px solid #9f9f9f;
  position: relative;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select ul li:after {
  content: "";
  display: block;
  position: absolute;
  right: 14px;
  border: 1px solid #9f9f9f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  top: 50%;
  margin-top: -7px;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select ul li.selected:after {
  background-color: #9f9f9f;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select ul li:last-child {
  border-bottom-width: 0px;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select.active ul {
  background-color: inherit;
  border-width: 0px;
}
.pt-block[max-width~="30em"][layout~="column"] > div.pt-select:after {
  display: none;
}
.pt-block[layout~="text-row-long"] > div.pt-select {
  padding: 0px;
  border-width: 0px;
  height: auto;
  background-color:inherit;
}
.pt-block[layout~="text-row-long"] > div.pt-select ul {
  position: static;
  padding-top: 7px;
  padding-left: 10px;
}
.pt-block[layout~="text-row-long"] > div.pt-select ul li {
  display: inline-block;
  padding: 3px 10px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  margin-bottom:7px;
}
.pt-block[layout~="text-row-long"] > div.pt-select ul li.selected {
  background-color: #9f9f9f;
  color: #fff;
}
.pt-block[layout~="text-row-long"] > div.pt-select ul li:last-child {
  border-right-width: 0px;
  margin-right: 0px;
}
.pt-block[layout~="text-row-long"] > div.pt-select.active ul {
  background-color: inherit;
  border-width: 0px;
}
.pt-block[layout~="text-row-long"] > div.pt-select:after {
  display: none;
}


